<div class="container p-3">

  <h1>Car Races</h1>

  <div class="row">
    <div class="col-12">
      <table class="table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Teams</th>
            <th>Street</th>
            <th>City</th>
            <th>Country</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let race of list$ | async">
            <td>{{ race.date }}</td>
            <td>{{ race.teams }}</td>
            <td>{{ race.street }}</td>
            <td>{{ race.city }}</td>
            <td>{{ race.country }}</td>
            <td>
              <div class="btn-group">
                <button [routerLink]="['/', 'races', 'edit', race._id]" class="btn btn-info">
                  <i class="fas fa-pencil-alt"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
